# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
.vercel

# Misc
.DS_Store
*.pem

# Debug
*.log
lerna-debug.log*

# Local env files
.env*.local
.env
.env.development
.env.test
.env.production

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Husky
.husky

# README
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
